<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cozy House</title>
  </head>
  <body>
    <main class="main" id="main">
      <%- include('../components/house.ejs') %>
      <!--  -->
      <%- include('../components/about.ejs') %>
      <!--  -->
      <%- include('../components/our-friends-main.ejs') %>
      <!--  -->
      <%- include('../components/help.ejs') %>
      <!--  -->
      <%- include('../components/donation.ejs') %>
      <!--  -->
      <%- include('../components/footer.ejs') %>
    </main>
    <div class="overlay" id="overlay"></div>
  </body>
</html>
